body {
  font-family: sans-serif;
  text-align: center;

  background-color: linen;

  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.Player {
  display: flex;
}

.Player button {
  background-color: #fde3dc;
  color: #8d6c9f;

  border: 3px solid transparent;
  border-radius: 100%;
}

.Player button:focus {
  outline: 0;
  border: 3px solid #fbcb9c;
}

.Player button.toggle {
  width: 50vw;
  height: 50vw;
  max-width: 20rem;
  max-height: 20rem;
}

.Player button.speed {
  font-weight: bold;
  font-size: 1rem;

  align-self: flex-end;
  margin-left: -5%;
  margin-bottom: -10%;

  width: 10vw;
  height: 10vw;
  max-width: 4rem;
  max-height: 4rem;
}

.ToggleIcon {
  width: 50%;
  height: 50%;
}

.ToggleIcon.initial {
  margin-right: -15%;
}

.ToggleIcon.paused {
  margin-right: -12%;
}
